body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5dc;
}

.container {
    margin-top: 50px;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#output {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
